<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.google.personalhealthrecordingplateform.mapper.MiniUserMapper">
    <select id="findUserByOpenID" parameterType="String" resultType="MiniUser">
        SELECT *
        FROM mini_user
        WHERE open_id = #{open_id}
    </select>
</mapper>